{% extends "base.html" %}
{% block title %}
	Flower Butik
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block news %}
	{% include "inc-news.html" %}
{% endblock %}
{% block links %}
	{% include "inc-links.html" %}
{% endblock %}
{% block search %}
	{% include "inc-search.html" %}
{% endblock %}
{% block body %}
	<div>
		<a href="/create-category/">Создать новую категорию каталога</a>
	</div>
	<div>
		<h1>Список категорий в каталоге</h1>
        {% for item in objects_list %}
        <li>
            {{item.name}} <span>,количество букетов: {{item.bouquet_count()}}</span>
			<a href="/bouquet-list/?id={{item.id}}">Показать букеты</a>
        </li>
        {% endfor %}
	</div>
{% endblock %}
{% block footer %}
	{% include "inc-footer.html" %}
{% endblock %}