<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

        {% block style %} {% endblock %}

        <meta name="description" content="website description"/>
        <meta name="keywords" content="website keywords, website keywords"/>
        <meta http-equiv="content-type" content="text/html; charset=windows-1252"/>
    </head>
    <body>
        <div id="main">
            {% block header %} {% endblock %}
            {% block content_header %} {% endblock %}
            <div id="site_content">
                {% block sidebar %} {% endblock %}
                {% block content %} {% endblock %}
            </div>
            {% block content_footer %} {% endblock %}
            {% block footer %} {% endblock %}
        </div>
    </body>
</html>