{% extends "base.html" %}
{% block title %}
Список курсов
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
    <div>
        <a href="/about/">назад в каталог</a>
    </div>

    <br>
    <br>

    <div>
        <a href="/create-bouquet/?id={{id}}">Создать новый букет</a>
        <br>
        <h1>Букеты в категории "{{name}}"</h1>
        {% for item in objects_list %}
        <li>
            {{item.name}} <span><a href="/copy-bouquet/?name={{item.name}}">скопировать</a></span>
        </li>
        {% endfor %}
    </div>
{% endblock %}