{% extends "base.html" %}
{% block title %}
Список курсов
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
    <a href="/">назад в каталог</a>

    <h1>Список категорий</h1>
    <ul>

        {% for item in objects_list %}
        <li>
            {{item.name}} <span>Количество букетов: {{item.bouquet_count()}}</span>
        </li>
        {% endfor %}
    </ul>

	<div>
		<li><a href="/bouquet-list/">Список букетов</a></li>
		<li><a href="/create-bouquet/">Создать букет</a></li>
	</div>
{% endblock %}