<div id="content">
    <!-- insert the page content here -->
    <h1>Обратная связь</h1>
    <p>Все, что Вы думаете об этом куурсе Вы можете всегла сообщить!</p>
    <form action="" method="post">
        <div class="form_settings">
            <p><span>Имя</span><input class="contact" type="text" name="name" value=""/></p>
            <p><span>Email</span><input class="contact" type="text" name="email" value=""/></p>
            <p><span>Сообщение</span><textarea class="contact textarea" rows="8" cols="50" name="enquiry"></textarea>
            </p>
            <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="contact_submitted"
                                                                   value="submit"/></p>
        </div>
    </form>

    <h2>
        <a href="http://personalii.spmi.ru/ru/glossary/v/vystrchil_mihail_georgievich">
            Страница преподавателя</a></h2>
</div>