{% extends "base.html" %}
{% block title %}
	Архитектура и шаблоны проектирования на Python
{% endblock %}

{% block style %}
	{% include "inc_style.html" %}
{% endblock %}

{% block header %}
	{% include "inc_header.html" %}
{% endblock %}

{% block content_header %}
{% endblock %}

{% block sidebar %}
	{% include "inc_sidebar.html" %}
{% endblock %}

{% block content %}
	{% include "contact_content.html" %}
{% endblock %}

{% block content_footer %}
{% endblock %}

{% block footer %}
	{% include "inc_footer.html" %}
{% endblock %}