<div id="header">
    <div id="logo">
        <div id="logo_text">
            <!-- class="logo_colour", allows you to change the colour of the text -->
            <h1><a href="index.html">Курс <span class="logo_colour">Python</span></a></h1>
            <h2>GeekBrains</h2>
        </div>
    </div>
    <div id="menubar">
        <ul id="menu">
            <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
            <li><a href="index.html">Главная</a></li>
            <li><a href="lectures.html">Лекции</a></li>
            <li><a href="tasks.html">Практические задаия</a></li>
            <li><a href="questions.html">Вопросы к зачету</a></li>
            <li><a href="contact.html">Контакты</a></li>
        </ul>
    </div>
</div>