<div class="sidebar">
    <!-- insert your sidebar items here -->
    <h3>Важная информация</h3>
    <h4>Результаты текущщей аттестации</h4>
    <h5>1 марта 2023</h5>
    <p>Исходя из текущей успеваемости не аттестованы...
        <br/><a href="#">Читать далее</a></p>
    <p></p>
    <h4>Замены занятий</h4>
    <ul>
        <li><a href="">Курс за 2022 год</a></li>
        <li><a href="">Курс за 2021 год</a></li>
    </ul>
    <h3>Поиск</h3>
    <form method="post" action="#" id="search_form">
        <p>
            <input class="search" type="text" name="search_field" value="Enter keywords....."/>
            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png"
                   alt="Search" title="Search"/>
        </p>
    </form>
</div>