<div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="/">Самые разные <span class="logo_colour">курсы </span><span class="logo_colour2">за дорого</span></a></h1>
          <h2>Simple. Contemporary. Website Template.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="/">Главная</a></li>
          <li><a href="/examples">Курсы</a></li>
          <li><a href="/page">Студенты</a></li>
          <li><a href="/another_page">Another Page</a></li>
          <li><a href="/contact">Контакты</a></li>
        </ul>
      </div>
    </div>
