<div id="content">
    <!-- insert the page content here -->
    <h1>Добро пожаловать на курс "Прикладной информатики"</h1>
    <p>Здесь представленны методические материалы, которые помогут Вам в освоении дисциплины <b>"Прикладная
        информатика"</b></p>
    <p>Курса состоит из восьми лекций и 17 практических занятий.</p>
    <p>В процессе изучения курса Вы познакомитесь с основами языка программирования <i>Python</i> и
        Объектно-ориентированного программирования.</p>
    <p>Практические задачи курса помогут Вам закрепить теоретический материал и покажут как он может Вам пригодиться в
        конкретных задачах профессиональной деятельности.</p>
    <p><b><i>ВСЕ СИЛЫ КОТОРЫЕ ВЫ ПОТРАТИТЕ ИЗУЧАЯ ЭТОТ КУРС БУДУТ НЕ НАПРАСНЫ!</i></b></p>

    <P>Успехов!</P>

</div>