{% extends "base.html" %}
{% block title %}
	Flower Butik
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block news %}
	{% include "inc-news.html" %}
{% endblock %}
{% block links %}
	{% include "inc-links.html" %}
{% endblock %}
{% block search %}
	{% include "inc-search.html" %}
{% endblock %}
{% block body %}
	{% include "inc-index-body.html" %}
{% endblock %}
{% block footer %}
	{% include "inc-footer.html" %}
{% endblock %}