<div id="content">
    <!-- insert the page content here -->
    <h1>Лекции по дисциплине "Прикладная информатика"</h1>
    <p>Здесь представленны темы и ссылки на актуальные конспекты лекций по дисциплине.</p>

    <h2>Лекция 1. Введение. Числа. Булевы переменные</h2>
    <h3>
        <a href="">
            Введение. Числа. Булевы переменные</a></h3>

    <h2>Лекция 2. Операторы. Ветвления. Цикл while</h2>
    <h3>
        <a href="">
            Операторы</a></h3>
    <h3>
        <a href="">
            Ветвления</a></h3>
    <h3>
        <a href="">
            Цикл while</a></h3>

    <h2>Лекция 3. Цикл for. Коллекции</h2>
    <h3>
        <a href="">
            Цикл for</a></h3>
    <h3>
        <a href="">
            Коллекции</a></h3>
    <h3>
        <a href="">
            Коллекции. Индексы. Срезы. Сортировка</a></h3>
    <h3>
        <a href="">
            Коллекции. Объединение коллекций, добавление и удаление элементов</a></h3>
    <h3>
        <a href="">
            Коллекции. Выражения-генераторы, генераторы списков, множеств и словарей</a></h3>

    <h2>Лекция 4. Функции.</h2>
    <h3>
        <a href="">
            Функции</a></h3>

    <h2>Лекция 5. Lambda функции. Генераторы. Декораторы. Аннотации.</h2>
    <h3>
        <a href="">
            Lambda функции, генераторы, декораторы, аннотации</a></h3>

    <h2>Лекция 6. ООП.</h2>
    <h3>
        <a href="">
            ООП</a></h3>

    <h2>Лекция 7. ООП. SOLID. Магические методы.</h2>
    <h3>
        <a href="">
            ООП_2. SOLID</a></h3>
    <h3>
        <a href="">
            Магические методы</a></h3>
    <h2>Лекция 8. Храненние данных.</h2>
    <h3>
        <a href="">
            Хранение данных</a></h3>

    <h2>Лекция 9. SQL.</h2>
    <h3>
        <a href="">
            Base SQL</a></h3>
    <h3>
        <a href="">
            SQLAlchemy</a></h3>
</div>